@import "../../less/bootstrap/variables.less";

#job_runner {
    h4 {
        margin-bottom: 30px;
        text-align: center;
    }

    .fifteen {
        width: 15%;
    }

    .twentyfive {
        width: 25%;
    }

    h5 {
        margin: 0px;
    }

    .suspended {
        text-decoration: line-through;
    }
    pre {
        font-size: 10px;
    }

    .run-performance-graph {
        height: 120px;
    }

    .filters {
        margin-bottom: 30px;
    }

    .margin-top {
        margin-top: 35px;
    }

}

.modal {
    width: 900px;
    margin-left: -450px;
}

// copy from .navbar .nav > li > a
// used to align non links properly in the navbar
.navbar .nav > li > span {
    display: block;
    float: none;
    margin: ((@navbarHeight - @baseLineHeight) / 2) + 1 15px ((@navbarHeight - @baseLineHeight) / 2);
    text-decoration: none;
}
