# hidden and python compiled files
.*
*.pyc
*.egg-info


# source distribution
dist/
build/


# rendered documentation
docs/_build


# collected static files
job_runner/static/static


# dev and test databases
*.sqlite
