<section id="dashboard">
    <div class="row">
        <div class="span2">
            <h4>Scheduled</h4>
            <div id="scheduled-runs"></div>
        </div>
        <div class="span2">
            <h4>In queue</h4>
            <div id="enqueued-runs"></div>
        </div>
        <div class="span2">
            <h4>Started</h4>
            <div id="started-runs"></div>
        </div>
        <div class="span2">
            <h4>Completed</h4>
            <div id="completed-runs"></div>
        </div>
        <div class="span2">
            <h4>Completed (error)</h4>
            <div id="completed-with-error-runs"></div>
        </div>
    </div>
</section>