{% extends "base.html" %}

{% block ngapp %}jobrunner{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-tab.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}job_runner/js/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}job_runner/js/controllers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}job_runner/js/models.new.js"></script>

{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}job_runner/less/job_runner.less" />
{% endblock %}

{% block bodyid %}job_runner{% endblock %}

{% block content %}
    <div ng-view></div>
{% endblock %}
