<!DOCTYPE html>
<html ng-app="{% block ngapp %}{% endblock %}">
<head>
    <title>{% block title %}Job-Runner{% endblock %}</title>
    {% block extrahead %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/boot.css" />
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" />
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap/responsive.less" />
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/master.less" />
    {% block extracss %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-dropdown.js"></script>
    {% block extrajs %}{% endblock %}
</head>
<body class="{% block bodyclass %}generic{% endblock %}" id="{% block bodyid %}generic{% endblock %}">
    <header>
        <div class="navbar navbar-fixed-top" ng-controller="ProjectCtrl">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Job-Runner</a>

                    <ul class="nav">
                        <li ng-class="{active: global_state.page == 'runs'}"><a href="/project/{% templatetag openvariable %} global_state.project.id {% templatetag closevariable %}/runs/">Dashboard</a></li>
                        <li ng-class="{active: global_state.page == 'jobs'}"><a href="/project/{% templatetag openvariable %} global_state.project.id {% templatetag closevariable %}/jobs/">Jobs</a></li>
                    </ul>

                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if user.is_staff %}
                                        <li><a href="{% url admin:index %}" target="_blank">Admin interface</a></li>
                                    {% endif %}
                                    <li><a href="{% url logout %}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url login %}">Login</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{% templatetag openvariable %} global_state.project.title {% templatetag closevariable %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="project in projects">
                                    <a href="/project/{% templatetag openvariable %} project.id {% templatetag closevariable %}/{% templatetag openvariable %} global_state.page {% templatetag closevariable %}/">{% templatetag openvariable %} project.title {% templatetag closevariable %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% block navbar %}{% endblock %}
                    <ul class="nav pull-right ws-status hidden">
                        <li><span class="label"></span></a>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
